<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput ngModel #f (keyup)="applyFilter(f.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="UserName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> UserName </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fields.UserName}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="UserID">
      <mat-header-cell *matHeaderCellDef mat-sort-header> UserID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fields.UserID}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Passcode">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Passcode </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fields.Passcode}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="2"
                 [length]="dataSource.data.length"
                 [pageSizeOptions]="[2, 4, 8]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>

